.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    color: var(--bg-color);
    background-color: var(--accent-color);
    border-radius: 100%;
    border: 3px solid var(--accent-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.btn:hover {
    cursor: pointer;
    border: 3px solid var(--text-color);
    background-color: var(--text-color);
}

.btn > img {
    height: 20px;
    width: 20px;
    filter: invert(1);
}

.btn:hover > img {
    filter: invert(0);
}