.note {
    margin: 8px;
    height: 150px;
    width: 150px;
    background-color: rgba(27, 56, 161, 0.555);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.note > h3,.note > p {
    display: flex;
    justify-content: center;
    width: 100%;
}

.note > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}